@media (max-width: 768px) {
    .hide-small{
        display:none;
    }
}
@media (min-width: 768px) {
    .overflow-image{
        margin-top: -60px;
        margin-bottom: -60px;
    }
}

.wrap-sm{
    padding: 60px;
    text-align:center;
}